<p>ai</p>
<p>予約確認画面</p>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>チェックイン</p>
    </div>
    <div class="col-md-6">
      <p>@reservation.start_date</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>チェックアウト</p>
    </div>
    <div class="col-md-6">
      <p>@reservation.end_date</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>日数</p>
    </div>
    <div class="col-md-6">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>人数</p>
    </div>
    <div class="col-md-6">
      <p>Column 2, Row 4</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>お支払い金額</p>
    </div>
    <div class="col-md-6">
      <p>Column 2, Row 5</p>
    </div>
  </div>
</div>
